#mapaContainer {
    padding: 0px;
    margin: 0px;
}

#mapa {
    transition: ease-in-out .3s;
    height: 500px;
    margin: 4.9%;
    width: 90%;
}

#iconoMinimizar {
    position: relative;
    margin-bottom: -5%;
    font-size: 400%;
    height: 50px;
    width: 50px;
    left: 5%;
}

#titulo {
    text-align: center;
    font-size: 300%;
}

#ciudades{
    text-align: center;
}

.card {
    border: 1px black solid;
    display: inline-block;
    vertical-align: top;
    margin: 15px;
    padding: 5px;
    width: auto;
}